body{
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #0D1117;
    color: white;
}



/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: #161B22;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.navbar h2{
    margin: 0 100px;
    font-weight: 800;
    color: rgb(12, 101, 236);
}


/* MENU */
.nav-menu{
    margin: 0 100px;
    display: flex;
    gap: 60px;
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: white;
}

.nav-menu a:hover{
    color: rgb(60, 148, 183);
    font-weight: 800;
}

/* HAMBURGER */
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span{
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 5px;

    transition: 0.3s;
}

.foto img{
    max-width: 100%;
}
/* animasi */
.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translate(5px, 6px);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
}

.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(5px,-6px);
}

.container{
    padding: 120px 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}


.judul{
    margin: 0px 0;
}

.nama{
    margin: 0;
    color: rgb(22, 104, 228);
}

.hero p{
    padding: 15px 0;
    font-size: 17px;
}

.hero p button{
    margin-top: 10px;
    margin-bottom: 0;
}

.hero button{
    border-radius: 20px;
    border: #161B22;
    background-color: rgb(5, 54, 127);
    color: aliceblue;
    padding: 10px 20px;

}

.hero button:hover{
    background-color: rgb(69, 94, 94);
}

.tentang{
    background: #161B22;
}
.tentang h1{
    font-size: 22px;
}



.contet h1{
    color: rgb(12, 101, 236);
}

.contet p{
    font-size: 17px;
}

.contet h2 span{
    color: rgb(22, 104, 228);
    font-weight: 800;
}

#tentang .container{
    gap: 200px;
}


.contet1 p{
    font-size: 17px;
}
.contet1 h1{
    color: rgb(64, 140, 255);
}

.contet1 img{
    max-width: 3%;
    background: rgba(255, 255, 255, 0.926);
    padding: 10px 10px;
    border: #053e8f;
    border-style:solid;
    border-radius: 20px;
}

.contet1 img:hover{
    background: #2d353f;
}


.skil{
    margin-top: 60px;
    width: 100%;
    min-height: 60vh;
    background: #0D1117;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.skil .content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.skil .isi{
    text-align: center;
    max-width: 1000px;
}

.skil .isi h2{
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
}

.skil .isi p{
    color: rgb(133, 129, 129);
    font-size: 17px;
    margin-bottom: 50px;
}

.skil .ahli{
    display: flex;
    justify-content: center;
}

.skil .gambar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
}

.skil .gambar img{
    width: 140px;
    max-width: 100% !important;

    transition: 0.3s ease;
    cursor: pointer;
}

.skil .gambar img:hover{
    transform: translateY(-8px) scale(1.05);
}



.statistik{
    width: 100%;
    max-width: 700px;
    margin: 70px auto 0;
}

.skill{
    margin-bottom: 0px;
}

.skill .info{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.bar{
    width: 100%;
    height: 14px;
    background: #1a2235;
    border-radius: 30px;
    overflow: hidden;
}

.progress{
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(90deg, #092247, #4da3ff);
    transition: 0.5s;
}

.cpp{
    width: 70%;
}
.python{
    width: 60%;
}
.php{
    width: 40%;
}
.html{
    width: 90%;
}
.Figma{
    width: 95%;
}

.skil .isi .war{
    font-size: 12px;
}

/* Tampilan Mobile */
@media (max-width: 820px){
    .hamburger{
        display: flex;
    }

    .navbar{
        width: 92%;
    }
    .hero{
        margin-top: 80px;
    }
    .hero p{
        font-size: 14px;
    }

    .nav-menu{
        position: absolute;
        top: 70px;
        right: 20px;

        width: 90px;
        padding: 5px 40px;

        background: rgb(34, 34, 34);

        flex-direction: column;

        display: none;
        margin: 0;
        gap: 20px;
    }
    .navbar h2{
        margin: 0;
    }
    .nav-menu li:hover{
        background-color: rgb(101, 99, 96);
    }

    .nav-menu.active{
        display: flex;
    }

    .container{
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    gap: 40px;
    }

    .contet p{
        font-size: 14px;
    }

    #tentang .container{
    gap: 20px;
    }

    .contet1 p{
    font-size: 14px;
    }

    .contet1 img{
    max-width: 7%;
    background: rgba(189, 186, 196, 0.926);
    padding: 10px 10px;
    border: #1e4b8a;
    border-style:solid;
    border-radius: 20px;
   }

   .content{
    padding: 20px 20px;
    }

    .skil{
    min-height: 70vh;
    }

    .skil .gambar{
    grid-template-columns: repeat(3, 1fr);  
    }

    .skil .gambar img{
        width: 100px;
    }

    .skil .isi p{
        font-size: 14px;
    }

    .skil .isi .war{
    font-size: 9px;
    }



}



